
{% extends 'base.html'%}

{% load static  %}


{% block content %}

<main class="contact-us">
    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        Services that we Offer!
      </h1>
    </div>
    <section class="container mt-5 mb-5">
      <div class="row mt-5">

        <div class="col-md-8  animate__animated animate__fadeInLeft  animate__delay-1s">
          <h2 class="text-center">Services</h2>
          <p>
            We are Welcoming Yotubers from all over the Globe.These days popularity of Youtubers is not
            less than a film-industry celebrity, people wants to see their favourite Youtuber on different
            product and brands.
            <h3 class="font-weight-bold">Here, Comes Our Service!</h3>
            We are providing a marketplace where Youtuber of different parts of the globe with different 
            categories and contact to our team and can register themeselve on “TUBERS” and their profile will
            get available to the world, and then any brand or people can easily reach/contact to their desired
            Youtuber. 
          </p>
        </div>
        <div class="col-md-4">
          <img src="https://placeimg.com/640/480/tech" alt="" class="img-fluid">
        </div>
      </div>
    </section>

    
    </section>
  </main>

{% endblock %}